.container{
    width: 70%;
    height: auto;
    min-height: 80vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 2%;
    border-radius: 20px;
    background: var(--light);
    position: absolute;
    top: 85px;
    left: 25%;
}