.container{
    background: #f5f5f5;
    position: fixed;
    left: 0;
    top: 10px;
    width: 20%;
    height: 100vh;
    padding: 65px 10px;
    border-right: 1px solid #f1f1f1;
    z-index: 10;
}

.container * {
    margin: 10px 0;
}
.container .myForm{
    /* border-bottom: 1px solid #dbdbdb; */
    padding: 10px 10px 20px 10px;
    background: white;
    border-radius: 10%;
    /* box-shadow: inset 5px 5px 10px rgb(228, 228, 228); */
}

.container .myForm h3 {
    color: gray;
    margin: 10px 0;
}



@media screen and (max-width : 800px) {
    .container{
        position: static;
    }
}