.container {
  position: fixed;
  left: 0;
  top: 10px;
  width: 23%;
  height: 100vh;
  padding: 65px 10px 40px 10px;
  /* border-right: 1px solid #f1f1f1; */
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.container .myForm,
.myForm .items > div {
  margin-top: 10px;
  border-radius: 10px;
}
.container .myForm .linearProgress {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.myForm .disecion {
  margin-top: -10px;
}

.myForm .appliersList{
  overflow-y: auto;
  max-height: 255px;
  padding: 0;
  background: var(--secondary);
  border-radius: 10px;
}

.container .myForm .radioGroup {
  text-align: start;
  display: flex;
  margin: 40px 0 0 10px;
}

.container .myForm svg {
  margin-bottom: 0;
  margin-top: 0;
}
.container .myForm {
  /* border-bottom: 1px solid #dbdbdb; */
  width: 100%;
  padding: 10px 10px 20px 10px;
  background: var(--light);
  /* backdrop-filter: blur(100px); */
  border-radius: 20px;
  /* box-shadow: inset 5px 5px 10px rgb(228, 228, 228); */
}

.container .myForm .applierHeader {
  width: 100%;
  height: 50px;
  justify-content: space-between;
}

.container .myForm .formHeader {
  width: 100%;
  height: 50px;
  justify-content: start;
  gap: 10px;
}

.container .myForm h3 {
  color: gray;
  margin: 10px 0;
}

.container .list {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
.container .list .cornerButton {
  border-radius: 100px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 64px;
  height: 64px;
  padding: 15px;
}

.container .list .cornerButton:hover {
  transition: all 300ms cubic-bezier(0.62, 0.1, 0.5, 1);
  width: 160px;
}

.container .list .cornerButton span {
  margin: 0;
}

.container .list .cornerButton p {
  transition: opacity 0.5s;
  opacity: 0;
  width: 0;
  margin-left: 0px;
  white-space: nowrap;
  font-size: 0;
  transition: width 0s;
  transition-delay: 1s;
}

.container .list .cornerButton:hover p {
  transition: opacity 700ms, width 0ms linear 270ms, font-size 1ms linear 270ms;
  opacity: 1;
  width: inherit;
  margin-left: 10px;
  font-size: inherit;
}

/* 
.myForm .applierCard p {
  text-align: start;
}



.myForm .applierCard:hover {
  scale: 1.05;
  background: var(--dark);
  color: white;
}

.myForm:has(> .applierCard:hover) {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.myForm:has(> .applierCard:hover) h4 {
  color: gray;
  text-shadow: none;
} */

.myForm .applierCard:hover .add {
  color: lightgreen;
}

.myForm .applierCard:hover .remove {
  color: red;
}

/* @media screen and (max-width: 800px) {
  .container {
    position: static;
  }
} */
